@media (min-width: 200px){
    .portfolio{
        display:grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        margin: 20px 0;
    }
    .portfolio-reverse{
        display:grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        margin: 20px 0;

    }
}

@media (min-width: 600px) {
    .portfolio {
        display: grid;
        grid-template-columns: 2fr 3fr;
        gap: 20px;
        margin: 20px 0;
    }
    .portfolio-reverse {
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: 20px;
        margin: 20px 0;
    }
}
.box > img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}