nav{
    position: fixed;
    top: 0;
    right: 0;
    height: 4vh;
    padding: 2vh;
    z-index: 15;
    justify-items: end;
    display: inline-flex;
    justify-content: end;
    width: 100vw;
}
footer{
    display: inline-flex;
    width: 100vw;
    padding: 2vh 0;
    justify-content: space-between;
    align-items: center;
    height: 4vh;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 13;
}
/**Button Properties**/
button {
    border: 0;
    background-color: rgba(255, 255, 255, 0);
}
.project-btn {
    width: 50vw;
    align-content: center;
}
.menu-btn {
    text-align: center;
    width: -webkit-fill-available;
}
.skills{
    display: none; /* Nasconde tutti i div inizialmente */
    opacity: 0;
    transition: opacity 1s ease-in-out;
    align-items: end;
}
.skills.active {
    display: flex; /* Mostra solo il div attivo */
    opacity: 1;
    gap: 1.2rem;
}
/**Bracket**/
.title{
    padding-top: 8vh;
    align-items: end;
    display: inline-flex;
    justify-content: space-between;
}
.profile-width {
    display: grid;
    gap: 1.2rem;
    width: 50vw;
    position: relative;
}
.four-columns {
    flex: 2;
    width: 50vw;
    position: relative;
}
.two-columns{
    flex: 1;
    width: 25vw;
}
.bracket-container {
    width: 24vw;
    position: relative;
}
.bracket-content{
    padding: 20px 30px;
}
.button-container{
    display: inline-flex;
    width: 90vw;
    padding: 0 8vh;
    justify-content: space-between;
    position: fixed;
    bottom: 32vh;
    right: 0;
    left: 0;
    z-index: 13;
}
.btn-content{
    padding: 10px;
}
.corner {
    position: absolute;
    width: 2.4rem;
    height: 2.4rem;
    border: 1.2rem solid;
}
.corner-btn {
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    border: 10px solid;
}
.border-btn{
    margin: 10px;
    border: 1px solid;
}
.top-left {
    top: 0;
    left: 0;
    border-right: none;
    border-bottom: none;
}
.bottom-right {
    bottom: 0;
    right: 0;
    border-left: none;
    border-top: none;
}
.arrow-down {
    border-left: none;
    border-top: none;
    transform: rotate(45deg);
}

/* bar - usability test */
.chart-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.chart {
    padding: 15px;
    border-radius: 8px;
}
.bar-container {
    margin-top: 10px;
}
.bar {
    height: 10px;
    background: #b36ba2;
    margin: 5px 0;
}
.findings {
    margin-top: 30px;
}
.chart-container p{
    font-size: 12px;
}
.findings p{
    font-size: 12px;
}
.bar-container li{
    list-style: decimal;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-weight: normal;
    text-align: justify;
}
.screen{
    border-radius: 15px;
    /*width: 20%;*/
    /*height: fit-content;*/
}
.my-projects{
    display: flex;
    gap: 1.2rem;
    width: 75vw;
    justify-content: space-between;
    align-items: end;
}
.big-p.hover-effect {
    font-family: Montserrat, sans-serif;
    font-weight: 900;
    text-align: left;
    text-transform: uppercase;
    display: flex;
    gap: 1.2rem;
    width: -webkit-fill-available;
    align-items: end;
    justify-content: space-between;
    transition: opacity 0.3s ease-in-out;
}
.type-hover{
    display: none; /* Initially hidden */
    transition: opacity 0.3s ease-in-out;
}
.type-hover.show {
    display: block;/* Visible on hover */
}