/**NavBar Properties**/
.nav-desktop{
    position: fixed;
    height: 10vh;
    border: black;
    width: 60vw;
    align-content: end;
    left: 20%;
}
.nav-background{
    /*position: fixed;*/
    background-color: rgba(255,255,255, 0.9);
    /**width: 100vw;**/
    height: 10vh;
    left: 0;
    right: 0;
    top: 0;
    justify-content: space-between;
    display: none;
}
.page-name{
    position: fixed;
    top: 3.5vh;
    height: 5vh;
    /* width: 36vw; */
    left: 20%;
    z-index: 2;
}
/**Portfolio Grid Properties**/
.portfolio{
    display: grid;
    grid-template-columns: repeat(5, 10vw);
    gap: 20px;
}
.item-height-30{
    height: 30vh;
    /**align-content: center;**/
    justify-content: center;
}
.item-height-50{
    height: 50vh;
    /**align-content: center;**/
    justify-content: center;
}
.brackets{
    border-right:1px solid black;
    border-left:1px solid black;
    margin: 40px;
}
.item-left-3clm{
    grid-column: 1 / 4;
}
.item-right-3clm{
    grid-column: 3 / 6;
}
.item-left-2clm{
    grid-column: 1 / 3;
}
.item-right-2clm{
    grid-column: 4 / 6;
}
.item-5clm{
    grid-column: 1 / 6;
}
.logo-display{
    text-align: center;
    object-fit: contain;
    width: 20vw;
}
.screen {
    display: inline-flex;
    column-gap: 20px;
    width: fit-content;
    box-shadow: 2px 2px 2px #DFEBF4;
}
.try-it-btn {
    padding: 10px;
    text-align: center;
    width: 60vw;
}
/**Single Page Properties**/
.hero-container{
    top: 0;
    height: 80vh;
    width: 100vw;
}
.img-hero{
    height: 80vh;
    z-index: -2;
}
.logo-hero{
    position: absolute;
    object-fit: contain;
    left: 32%;
    width: 36%;
    z-index: 0;
}
.color-box{
    display: inline-flex;
    height: 5vh;
    width: 12vw;
    justify-content: space-between;
}