/**General Properties**/
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    display: grid;
    row-gap: 20px;
    justify-content: center;
    justify-items: center;
}
li{
    list-style: none;
}
img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
/** Hover and Visited transition **/
a:link{
    text-decoration:none;
    text-decoration-color: black;
}
a:hover{
    color: #584700;
}
a:visited{
    text-decoration:none;
    color: black;
}
a{
    transition: all 500ms ease;
}
/**Navigation Bar Properties**/
header{
    position: absolute;
    z-index: 1;
    top: 0;
    height: 10vh;
    width: 100vw;
    display: inline;
    align-content: end;
}
nav{
    position: fixed;
    top: 0;
    left: 20%;
    justify-content: space-between;
    align-content: end;
}
nav ul{
    display: inline-flex;
}
.nav-desktop-home{
    height: 20vh;
    width: 60vw;
    background-color: #EDDCA0;
}
.nav-desktop{
    height: 10vh;
    width: 60vw;
    align-content: end;
    left: 20%;
}
.nav-background{
    /*position: fixed;*/
    background-color: rgba(255,255,255, 0.9);
    /**width: 100vw;**/
    height: 10vh;
    left: 0;
    right: 0;
    top: 0;
    justify-content: space-between;
    display: none;
}
.page-name{
    position: fixed;
    top: 3.5vh;
    height: 5vh;
    /* width: 36vw; */
    left: 20%;
    z-index: 2;
}
/**Text Properties**/
.name{
    font-family: Montserrat, sans-serif;
    font-size: 48px;
    font-weight: bold;
    text-align: left;
}
.name-mobile{
    display: none;
    font-family: Montserrat, sans-serif;
    font-size: 32px;
    font-weight: bold;
    text-align: left;
}
.title{
    font-family: Montserrat, sans-serif;
    font-size: 21px;
    font-weight: 500;/**medium?**/
    text-align: left;
    text-transform: uppercase;
}
.title-mobile{
    display: none;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;/**medium?**/
    text-align: left;
    text-transform: uppercase;
}
.section-title{
    font-family: Montserrat, sans-serif;
    font-size: 21px;
    font-weight: 600;/**semi-bold**/
    text-align: left;
}
p{
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 300;/**light**/
    text-align: left;
}
.link{
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-align: left;
    text-transform: uppercase;
}
.dates{
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 600;/**semi-bold**/
    text-align: left;
}
.position{
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
    text-align: left;
}
.buttons{
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;/**medium?**/
    text-align: center;
    text-transform: uppercase;
    justify-content: center;
    width: 12vw;
}
.menu{
    font-family: Montserrat, sans-serif;
    font-size: 21px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}
.menu-mobile{
    display: none;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}
.project-name{
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-weight: 600;/**semi-bold**/
    text-align: center;
    text-transform: uppercase;
}
.info-inline-space p{
    font-style: italic;
}
/**Color Properties**/
.bright-yellow{
    background-color: #E7BB20;
}
.dark-yellow{
    background-color: #584700;
}
.light-yellow{
    background-color: #EDDCA0;
}
/**Pages Properties**/
.profile{
    display: grid;
    grid-gap: 20px;
}
.page-box{
    height: 60vh;
    padding: 40px;
    align-content: end;
}
.page-width{
    width: 60vw;
}
/**My Name**/
.my-name{
    position: sticky; !important;
    position: -webkit-sticky;
    top: 0; /* required */
    left: 20%;
    height: 20vh;
    width: 60vw;
    align-content: end;
}
.negative-space-20{
    height: 20vh;
}
.negative-space-10{
    height: 10vh;
}
.negative-space-5{
    height: 5vh;
}
.contact-info{
    margin-top: 20px;
    width: 60vw;
    display: inline-flex;
    justify-content: space-between;
}
.section{
    display: grid;
    padding-top: 20px;
}
.info-inline-space{
    width: 60vw;
    display: inline-flex;
    justify-content: space-between;
}
.cv-dates{
    margin-top: 10px;
    display: inline-flex;
    justify-content: start;
    column-gap: 20px;
}
/**buttons**/
button .menu{
    text-align: right;
}
button{
    width: 8vw;
    height: 40px;
    border: 0;
    background-color: rgba(255, 255, 255, 0);
}
.nav-desktop button{
    justify-content: end;
}
.buttons-inline{
    position: fixed;
    bottom: 0;
    height: 20vh;
    width: 100vw;
    display: inline-flex;
    justify-content: space-between;
}
.arrow-btn{
    display: inline-flex;
    align-items: center;
}
/**media queries**/
.mobile{
    display: none;
}
.section-mobile-container{
    display: none;
}