*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    display: grid;
    justify-content: center;
    justify-items: center;
}
li{
    list-style: none;
}
img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
/** Hover and Visited transition **/
a:link{text-decoration:none; text-decoration-color: black;}
a:hover{color: #EBE6D6;}
a:visited{text-decoration:none; color: black;}
a:link {color: black;}
a:visited {color: black;}
a{transition: all 500ms ease;}
/**Brand Color**/
.light-yellow{
    background-color: #EDDCA0;
}
.light-background{
    background-color: #FFFEF2;
}
/**Text Properties**/
p{
    font-family: Montserrat, sans-serif;
    font-size: 0.8rem;
    font-weight: normal;
    text-align: justify;
}
.menu{
    font-family: Montserrat, sans-serif;
    font-size: 1.2rem;
    font-weight: normal;
    text-transform: uppercase;
}
.name{
    font-family: Montserrat, sans-serif;
    font-size: 1.6rem;
    font-weight: normal;
    text-align: left;
    text-transform: uppercase;
    /**line-height: 80%;**/
}
.title .name{
    text-align: right;
}
.big-p{
    font-family: Montserrat, sans-serif;
    font-size: 5.6rem;
    font-weight: 700;
    text-align: left;
    line-height: 4.8rem;
    text-transform: uppercase;
}
.role{
    font-family: Montserrat, sans-serif;
    font-size: 7.2rem;
    font-weight: 900;
    text-align: left;
    line-height: 6rem;
    text-transform: uppercase;
}
.projects-width p{
    text-align: center;
}
footer .corner{
    color: #EBE6D6;
}
/**General Properties**/
.mobile{
    display: none;
}
.display{
    display: grid;
}
.content-width{
    justify-items: left;
    width: 75vw;
}
.hero-container{
    width: 75vw;
    height: 56vh;
}
.hero-logo{
    position: absolute;
    left: 40vw;
    width: 20vw;
    top: 4vh;
    z-index: 0;
    object-fit: contain;
    width: 20vw;
}
.hero{
    z-index: -1;
}
.presentation{
    display: grid;
    gap: 1.2rem;
    width: 40vw;
}
.projects-width{
    display: inline-flex;
    column-gap: 30px;
    width: 80vw;
}
.logo-name{
    display: grid;
    gap: 1.2rem;
    padding-top:30vh;
    width: 80vw;
    justify-items: start;
    justify-content: left;
}
.link-container{
    padding-left: 8vw;
    padding-right: 8vw;
    display: inline-flex;
    grid-column-gap: 1.6rem;
}
.color-container{
     display: inline-flex;
     gap: 15px;
 }
.mockup-container{
    display: inline-flex;
    gap: 15px;
}
.mockup{
    width: 50%;
}
.background {
    display: flex;
    justify-content: center; /* Centers the logo horizontally */
    align-items: center; /* Centers the logo vertically */
    position: relative; /* Ensures positioning context for absolute elements */
    z-index: 1;
    width: 100%;
    height: 15vh;
}
.logo {
    position: absolute; /* Keeps logo fixed in place within the .hero */
    z-index: 2;
    width: 20vw; /* Adjust the width as needed */
    object-fit: contain; /* Ensures the logo retains aspect ratio */
}
.brand-color{
    height: 15vh;
    border-radius: 10px;
}
/**Divider Properties**/
.one-two-rem{
    height: 1.2rem;
}
.one-six-rem{
    height: 1.6rem;
}
.five-six-rem{
    height: 5.6rem;
}
.seven-two-rem{
    height: 7.2rem;
}
.a-third{
    height: 30vh;
}
.a-half{
    height: 60vh;
}
.line-solid{
    border-top: 10px solid;
    border-color: black;
}