<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>AboutMe</title>
    <!--START EDITABLE HEAD-->
    <link rel="stylesheet" href="../style/style-sheet.css">
    <link rel="stylesheet" href="../style/img-style-sheet.css">
    <link rel="stylesheet" href="../style/prj-style-sheet.css">
    <!--link navigation bar-->
    <link rel="stylesheet" href="../style/side-bar-style.css">
    <!--Icon font-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <!-- Font Montserrat -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,900;1,300;1,400;1,600&display=swap" rel="stylesheet">
    <!--END EDITABLE HEAD-->
</head>
<body>
<!--Navigation menu-->
<nav class="side-bar">
    <ul>
        <li class="my-name title"><a href="../index.html">Stefania Lo Bianco</a></li>
        <li>
            <button onclick="openNav()" class="border-none">
                <i class="push material-symbols-outlined" style="font-size: 48px">chevron_right</i>
            </button>
        </li>
    </ul>
</nav>
<!--page content-->
    <div class="content-container" style="margin-top: 40px">
            <div class="cv">
                <div class="info">
                    <div class="subtitle">Graphic Designer / UI Designer</div>
                    <ul>
                        <li><a href="mailto:lobiancostefania@gmail.com"><span class="link">_mail</span></a></li>
                        <li><a href="www.behance.net/stefanialobiancobe"><span class="link">_behance</span></a></li>
                        <li><a href="www.linkedin.com/in/stefania-lo-bianco/"><span class="link">_linkedin</span></a></li>
                        <li><a href="../assets/Stefania%20Lo%20Bianco%20Resume.pdf" download><span class="link">_download Resume</span></a></li>
                    </ul>
            <div class="prj-container">
                <div >
                <ul>
                    <li class="section underline">Employment History</li>
                        <ul class="history">
                            <li class="dates darkYellow">2018-present</li>
                            <li class="profession">Head Graphic Designer</li>
                            <li class="italic">Egyptian Academy of Fine Arts, Rome</li>
                        </ul>
                        <ul class="history">
                            <li class="dates darkYellow">2017</li>
                            <li class="profession">Graphic Designer</li>
                            <li class="italic">Walk-In Advertising S.R.L., Rome</li>
                        </ul>
                        <ul class="history">
                            <li class="dates darkYellow">2015</li>
                            <li class="profession">Graphic Designer Junior</li>
                            <li class="italic">Internship at Umana Creative Studio, Rome</li>
                        </ul>
                    <li class="section underline" style="margin-top: 40px">Education</li>
                        <ul class="history">
                            <li class="dates darkYellow">2022</li>
                            <li class="profession">Google UX Design Certificate</li>
                            <li class="italic">Coursera</li>
                        </ul>
                        <ul class="history">
                            <li class="dates darkYellow">2016</li>
                            <li class="profession">Art-Lab Master Degree</li>
                            <li class="italic">Academy of Fine Arts, Rome</li>
                        </ul>
                        <ul class="history">
                            <li class="dates darkYellow">2015</li>
                            <li class="profession">Bachelor’s Degree in Industrial Design</li>
                            <li class="italic">University of Rome “La Sapienza”</li>
                        </ul>
                </ul>
                </div>
                <div class="cover-letter">
                <p>Currently, I'm working for an Arabic Cultural Institution (<span class="italic">Egyptian Academy in Rome</span>).
                    It's been several years since I immersed myself in this international environment, where I found good inspiration for my projects and many different people with whom to deal with various aspects.
                    Here, I am responsible for creating and developing our institutional magazine, which serves as a sponsor for all of our activities.
                    Through my efforts, I have successfully <span class="underline">rebuilt the magazine's design and layout</span> to better align with the preferences of the readership.
                    In addition, I have crafted each activity's graphic line.
                    </br></br>
                    Although I have yet to gain much professional experience in <span class="underline">UX/UI design</span>, I am enthusiastic about learning and improving my skills in this area.
                    I am involved in several personal projects that allow me to apply my knowledge and enhance my abilities.
                    My eagerness for this field and my commitment to continuous growth motivate me to strive for excellence and succeed.
                    </br></br>
                    Previously, I worked for <span class="italic">Walk In - Advertising and Marketing Agency</span>.
                    Through my time at this agency, I have gained significant professional and personal growth, allowing me to advance confidently.
                    I have created some impressive work, including advertising banners for an Art Gallery in Rome published on <span class="italic">il Messaggero</span>.
                    Additionally, I collaborated on designing the institutional brochure for <span class="italic">FRIMM Group</span> and some of their company logos.
                    In addition, I enjoyed a team designing promotional material for <span class="italic">RoadHouse</span> and <span class="italic">Warner Bros</span>, <span class="italic">Polli</span>, and <span class="italic">Coccolino</span>.
                    </br></br>
                    I began my academic education at <span class="italic">La Sapienza University</span>, where I pursued a degree in industrial design.
                    During my time there, I had the opportunity to work on a project for a Portuguese start-up, where I was able to create their <span class="underline">brand identity</span>.
                    This project was significant to me as it was the first time I had made something worthwhile, and it proved to be a successful challenge.
                    Then, I took time to deepen the art printing techniques, like linocut and <span class="underline">editorial practices</span>, after immersing myself in the intensive ArtLab program,
                    which focused on the languages of graphic art. Finally, I understood the significance of conducting extensive research and comprehending the project to produce an outstanding and engaging result.
                    </br></br>
                    During these years, I began building my professional experience by working briefly with <span class="italic">Umana Creative Studio</span>.
                    While there, I focused on creating <span class="underline">logos, designing flyers</span>, and even delved into <span sclass="underline">illustration</span> work.
                    </br></br>
                    I seek fresh opportunities and challenges to aid my growth and offer stimulating professional experiences.
                    My ultimate goal is to obtain a role that will enable me to direct all of my energy and passion toward achieving success.</p>
                    <img class="signature" src="../assets/imgs/signature.webp">
            </div>
            </div>
        </div>
            </div>
        <!--go back button-->
        <button class="back-button" type="button" value="Go back!" onclick="history.back()">
            <i class="material-symbols-outlined" style="font-size: 36px">arrow_back</i>
            <!--<span class="italic">back</span>-->
        </button>
        <!--footer-->
        <div>
            <ul class="custom-footer">
                <li class="title" style="font-size: 14px">Stefania Lo Bianco</li>
                <li class="profession">Graphic Designer / UI Designer</li>
                <li class="push-left link darkYellow"><a href="mailto:lobiancostefania@gmail.com">lobiancostefania@gmail.com</a></li>
            </ul>
        </div>
    </div>
<!--moving panel menu-->
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="material-symbols-outlined cross" onclick="closeNav()" style="font-size: 36px">close</a>
    <div class="grid">
        <ul class="menu-items">
            <li class="section">
                <a href="../index.html#section-portfolio">Portfolio</a>
            </li>
            <li class="section">
                <a href="about-me.html">About Me</a>
            </li>
            <li class="section">
                <a href="contact-me.html">Contact Me</a>
            </li>
        </ul>
        <ul class="push menu-items">
            <li class="link">
                <a href="mailto:lobiancostefania@gmail.com">_mail</a>
            </li>
            <li class="link">
                <a href="https://www.behance.net/stefanialobiancobe" target="_blank">_behance</a>
            </li>
            <li class="link">
                <a href="https://www.linkedin.com/in/stefania-lo-bianco/" target="_blank">_linkedin</a>
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript" src="../components/index.js"></script>
</body>
</html>