<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LØPE</title>
    <!--START EDITABLE HEAD-->
    <link rel="stylesheet" href="../style/style-sheet.css">
    <link rel="stylesheet" href="../style/img-style-sheet.css">
    <link rel="stylesheet" href="../style/prj-style-sheet.css">
    <!--link navigation bar-->
    <link rel="stylesheet" href="../style/side-bar-style.css">
    <!--Icon font-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <!-- Font Montserrat -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,900;1,300;1,400;1,600&display=swap" rel="stylesheet">
    <!--END EDITABLE HEAD-->
</head>
<body>
<!--Navigation menu-->
    <nav class="side-bar">
        <ul>
            <li class="my-name title"><a href="../index.html">Stefania Lo Bianco</a></li>
            <li>
                <button onclick="openNav()" class="border-none">
                    <i class="push material-symbols-outlined" style="font-size: 48px">chevron_right</i>
                </button>
            </li>
        </ul>
    </nav>
    <!--page content-->
    <div class="content-container">
     <div class="prj-container">
        <div class="text">
            <div class="info">
                <div class="subtitle">LØPE _UX/UI Design _Case Study</div>
                <p>This is an app to pre-order an album from a specific Indie Rock Band.
                    Our goals are to create an easy-to-use app and a community inside the same app,
                    so the user can continue to use the app after the shipping to remain updated about the band.
                </p>
            </div>
            <ul>
                <li><span class="link">_what</span><span class="paragraph" style="padding-left: 20px">User Research</span></li>
                <li class="paragraph" style="padding-left: 55px">Lo-Fi Wireframes</li>
                <li class="paragraph" style="padding-left: 55px">Usability Test</li>
                <li class="paragraph" style="padding-left: 55px">Accessibility</li>
                <li class="paragraph" style="padding-left: 55px">Hi-Fi Mockups</li>
                <li class="paragraph" style="padding-left: 55px">Prototype</li>
            </ul>
            <ul class="push-bottom">
                <li><span class="link">_where</span><span class="italic" style="padding-left: 20px">Italy</span></li>
                <li><span class="link">_when</span><span class="italic" style="padding-left: 20px">2022</span></li>
                <li><span class="link">_owner</span><span class="italic" style="padding-left: 20px">Stefania Lo Bianco</span></li>
                </br><li class="italic">Coursera</li>
            </ul>
        </div>
        <div class="visual-info" style="background-color: #DFEBF4">
            <img src="../assets/imgs/lope/01.webp">
            <img src="../assets/imgs/lope/02.webp">
            <img src="../assets/imgs/lope/03.webp">
            <img src="../assets/imgs/lope/04.webp">
            <img src="../assets/imgs/lope/05.webp">
            <button class="dropdown">
                <a href="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FMqvVFolTokaiqt64VEU5T6%2Fpre-order-album-app-(after)-(Copy)%3Ftype%3Ddesign%26node-id%3D393-1131%26t%3DuQJ0oNQb3GJobcZa-1%26scaling%3Dscale-down%26page-id%3D391%253A1130%26starting-point-node-id%3D393%253A1131%26mode%3Ddesign" target="_blank">
                    <span class="subtitle">Click for prototype</span></br>
                    <i class="push material-symbols-outlined" style="font-size: 48px">play_arrow</i>
                </a>
            </button>
        </div>
    </div>
        <!--go back button-->
        <button class="back-button" type="button" value="Go back!" onclick="history.back()">
            <i class="material-symbols-outlined" style="font-size: 36px">arrow_back</i>
            <!--<span class="italic">back</span>-->
        </button>
        <!--footer-->
        <div>
            <ul class="custom-footer">
                <li class="title" style="font-size: 14px">Stefania Lo Bianco</li>
                <li class="profession">Graphic Designer / UI Designer</li>
                <li class="push-left link darkYellow"><a href="mailto:lobiancostefania@gmail.com">lobiancostefania@gmail.com</a></li>
            </ul>
        </div>
    </div>
<!--moving panel menu-->
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="material-symbols-outlined cross" onclick="closeNav()" style="font-size: 36px">close</a>
    <div class="grid">
        <ul class="menu-items">
            <li class="section">
                <a href="../index.html#section-portfolio">Portfolio</a>
            </li>
            <li class="section">
                <a href="about-me.html">About Me</a>
            </li>
            <li class="section">
                <a href="contact-me.html">Contact Me</a>
            </li>
        </ul>
        <ul class="push menu-items">
            <li class="link">
                <a href="mailto:lobiancostefania@gmail.com">_mail</a>
            </li>
            <li class="link">
                <a href="https://www.behance.net/stefanialobiancobe" target="_blank">_behance</a>
            </li>
            <li class="link">
                <a href="https://www.linkedin.com/in/stefania-lo-bianco/" target="_blank">_linkedin</a>
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript" src="../components/index.js"></script>
</body>
</html>